<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <h1>Welcome back to HTML ;)</h1>


        <ul>
            <li><a href="http://127.0.0.1:5000/">go to main page</a> </li>
            <li><a href="http://127.0.0.1:5000/portfolio">go to portfolio page</a></li>
            <li><a href="http://127.0.0.1:5000/about">go to about page</a></li>
        </ul>

    </body>
</html>